<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>EventosAPP</title>
</head>
<body>
  <h1>Cadastro de Eventos:</h1>
  <form method="post">

    <label>Nome:</label>
    <input type="text" value="" name="nome">

    <label>Local:</label>
    <input type="text" value="" name="local">

    <label>Data:</label>
    <input type="date" value="" name="data">

    <label>Horario:</label>
    <input type="text" value="" name="horario">

    <button type="submit">Salvar</button>

  </form>
</body>
</html>